<!DOCTYPE html>
<html>
  <head>
    <title>EccAlum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.linkedInIcon = "<%= image_url('linkedIn-icon.png')%>"
      window.facebookIcon = "<%= image_url('facebook_icon1.png')%>"
      window.emailIcon = "<%= image_url('email-icon1.jpg')%>"
      window.phoneIcon = "<%= image_url('phone-icon2.jpg')%>"
      window.userIcon = "<%= image_url('user-icon.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
